li a {
    color: green;
    text-align: right;
    letter-spacing: 2px;

}
ul, p{
    bottom: 0;
    height: 100px;
    margin: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    font-size: 150%;
}
body {
    background: white url("images/download2.webp")  ;
}